:root {
  --font-color: #121111;
  --background-color: #e6e5e5;
  --primary-color: #ac0c0c;
  --primary-color-light: hsl(0, 87%, 46%);
  --secondary-color: #cfcfcf;
  --accent-color: #e50f0f;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;

}

.map-iframe {
  width: 600;
  height: 450;
  border: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
*/ 

textarea {
  resize: vertical;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  background: #222;
  color: black;
  position: relative;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
}

main {
  background-color: #e6e5e5;
  padding: 10px;
}

input,
textarea {
  padding: 10px;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 50vh;
  margin: 0px;
  padding: 10px;
  color: var(--background-color);
  width: 100%;
}

.button {
  text-decoration: none;
  padding: 10px;
  background-color: #d81313;
  border-radius: 10px;
  color: white;
}

.header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  width: 100%;
}
.header .footer {
  padding: 20px;
}

nav > ul > li {
  justify-content: center;
  display: inline-block;
}

.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categories {
  justify-content: center;
  position: relative;
  width: 100%;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}

.header a#logo {
  font-size: 25px;
  font-weight: bold;
}
.section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

#eventos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.section-heading {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.header a:hover {
  /* background-color: hsl(344, 84%, 36%); */
  color: lightgray;
}

/* Style the active/current link*/
.header a.active {
  background-color: hsl(344, 84%, 26%);
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.container {
  background-color: #cfcfcf;
  
  min-height: 100vh;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.btn-ir-arriba {
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: var(--accent-color);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;

  box-shadow: 0px 12px 7px black;
  transition: 300ms ease;

  display: none;
}

.btn-ir-arriba:hover {
  background-color: hsl(210, 29%, 60%);
}

.btn-ir-arriba svg {
  /* stroke: white; */
  stroke-width: 3px;
  width: 25px;
  height: 25px;
  fill:white;
}

.triple-section {
  display: flex;
}

.col-3 {
  width: 33%;
  padding: 20px;
  
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.col-3 img{
  width: 80%;
  border-radius: 20px;
  
}

.col-60 {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.col-40 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#company-text{
  font-family: 'Bungee Inline';
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
}

#inicio {
  min-height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  transition: 0.3s;
}

#inicio:hover{
  background-color: var(--primary-color);
  color: white;
}

/* .container:first-child {
  border-radius: 20px;
  border-top: 20px;
  margin: 0 0 20px 0;
} */



.logo {
  max-width: 120px;
}


