html {
  color: $font-color;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  &.focusable:active, &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

body {
  background: #222;
  color: black;
  position: relative;
  font-family: Poppins, Geneva, Tahoma, sans-serif;
}

main {
  background-color: #e6e5e5;
  padding: 10px;
}

input,
textarea {
  padding: 10px;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

footer {
  align-content: center;
  height: 50vh;
  margin: 0px;

  padding: 20px;
  color: $background-color;
  width: auto;
}
