.fx-column {
  display: flex;
  flex-direction: column;
}

.fx-row {
  display: flex;
  flex-direction: row;
}

.center-child {
  @include display(flex,column,wrap,center,center,center);
}

.triple-section {
  display: flex;
}

.col-3 {
  width: 33%;
  padding: 20px;

  @include display(flex,column,wrap,center,center,center);

  h3 {
    text-align: center;
  }

  img {
    width: 80%;
    border-radius: 20px;
  }
}

.col-60 {
  width: 60%;
  @include display(flex,column,nowrap,center,center,center);

}

.col-40 {
  width: 40%;
  @include display(flex,column,nowrap,center,center,center);
}
